<div class="col-12">
  <div class="field col-12 flex justify-content-center">
    <h3>Dirección del evento</h3>
  </div>

  <div class="col-12 h-30rem">
    <app-map class="col-6" (outputLngLat)="getLngLAt($event)"></app-map>
  </div>

  <div [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="grid p-fluid">
    <!-- latitude -->
    <div class="field col-6">
      <label for="latitude">Latitud:</label>
      <p-inputNumber
        [readonly]="true"
        id="latitude"
        formControlName="latitude"
        mode="decimal"
      />
      <span
        appErrorMessage
        [errors]="latitudeField.errors"
        [touched]="latitudeField.touched"
        [dirty]="latitudeField.dirty"
      ></span>
    </div>

    <!-- longitude -->
    <div class="field col-6">
      <label for="longitude">Longitud:</label>
      <p-inputNumber
        [readonly]="true"
        id="longitude"
        formControlName="longitude"
        inputId="minmax"
        mode="decimal"
      />
      <span
        appErrorMessage
        [errors]="longitudeField.errors"
        [touched]="longitudeField.touched"
        [dirty]="longitudeField.dirty"
      ></span>
    </div>

    <!-- address  -->
    <div class="field col-12">
      <label for="venue"> Lugar del evento:</label>
      <input id="venue" formControlName="venue" type="text" pInputText />
      <span
        appErrorMessage
        [errors]="venueField.errors"
        [touched]="venueField.touched"
        [dirty]="venueField.dirty"
      ></span>
    </div>

    <!-- Reference -->
    <div class="field col-12">
      <label for="reference"> Referencia:</label>
      <input
        type="text"
        id="reference"
        formControlName="reference"
        pInputText
      />
      <span
        appErrorMessage
        [errors]="referenceField.errors"
        [touched]="referenceField.touched"
        [dirty]="referenceField.dirty"
      ></span>
    </div>
    <div class="col-12 p-fluid">
    <p-messages />

    </div>
    <div class="col-12">
      <button
        pButton
        type="submit"
        (click)="onSubmit()"
        label="Guardar"
      ></button>
    </div>
  </div>
</div>

