<div class="col-12 flex justify-content-center">
  <div class="col-10 flex justify-content-center">
    <div class="w-full">
      <form [formGroup]="form" class="p-fluid">

        <div class="flex justify-content-center">
          <h1 class="fadein animation-duration-2000">Registro de Eventos</h1>
        </div>

        <label for="name" class="block text-900 font-medium mb-3">Nombre del Evento </label>
        <input id="name" formControlName="name" placeholder="Nombre del Evento" pInputText class="w-full mb-3"/>

        <label for="description" class="block text-900 font-medium mb-3">Descripción </label>
        <input id="description" formControlName="description" placeholder="Descripción" pInputText class="w-full mb-3"/>

        <label for="startDate" class="block text-900 font-medium mb-3">Fecha de Inicio</label>
        <p-calendar [showIcon]="true" [showTime]="true" />

        <label for="endDate" class="block text-900 font-medium mb-3">Fecha de Fin</label>
        <p-calendar [showIcon]="true" [showTime]="true" />

        <label for="status" class="block text-900 font-medium mb-3">Estado </label>
        <input id="status" formControlName="status" placeholder="Estado" pInputText class="w-full mb-3"/>

        <label for="category" class="block text-900 font-medium mb-3">Categoría </label>
        <input id="category" formControlName="category" placeholder="Categoría" pInputText class="w-full mb-3"/>

        <label for="address" class="block text-900 font-medium mb-3">Dirección</label>
        <input id="address" formControlName="address" placeholder="Dirección" pInputText class="w-full mb-3"/>
      </form>
    </div>
  </div>
</div>