<form class="grid p-fluid">
  <div class="field col-12 lg:col-5 md:col-12 sm:col-12">
    <label for="firstname6">Firstname</label>
    <input id="firstname6" pInputText />
  </div>
  <div class="field col-12 lg:col-5 md:col-8 sm:col-12">
    <label for="lastName"> Lastname</label>
    <input id="firstname6" pInputText />
  </div>
  <div class="field col-12 lg:col-2 md:col-4 sm:col-12">
    <label for="buttondisplay" class="font-bold block mb-2"> Button </label>
    <p-calendar [showIcon]="true" [showTime]="true" />
  </div>
  <div class="col-12 flex justify-content-end">
    <button pButton pRipple  label="Submit"></button>
  </div>
</form>

