
<p-buttonGroup>
    <p-button label="Iniciar" size="small" (onClick)="redirectLogin()" />
    <p-button label="Registrarse" styleClass="bg-green-400 border-green-600" size="small" (onClick)="redirectSignUp()" />
</p-buttonGroup>
<p-dialog 
    header="Header" 
    [modal]="true"
    [(visible)]="dialogSignUpVisible" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true">
        <app-login></app-login>
</p-dialog>
<p-dialog 
    header="Header" 
    [modal]="true"
    [(visible)]="dialogLoginVisible" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
</p-dialog>