<h2 class="text-center">Registrar Patrocinadores</h2>
<!-- Form -->
<form [formGroup]="sponsorForm" (submit)="addSponsor()" class="grid p-fluid">
  <!-- name -->
  <div class="field col-12 md:col-6">
    <label appCustomLabel [label]="SponsorEnum.name" for="name">Nombre:</label>
    <input pInputText id="name" formControlName="name" />
    <span appErrorMessage [errors]="nameField.errors" [dirty]="nameField.dirty" [touched]="nameField.touched"></span>
  </div>

  <!-- email -->
  <div class="field col-12 md:col-6">
    <label for="email" appCustomLabel [label]="SponsorEnum.email"></label>
    <input pInputText id="email" formControlName="email">
    <span appErrorMessage [errors]="emailField.errors" [dirty]="emailField.dirty" [touched]="emailField.touched"></span>

  </div>

  <!-- validation message -->
  <div class="col-12 p-fluid">
    <p-messages />
  </div>
  
  <div class="col-12">
    <p-button label="Agregar" type="submit" icon="pi pi-plus">
    </p-button>
  </div>
</form>

@if (sponsors.value.length > 0) {
  <p-table [value]="sponsors.value" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sponsor let-rowIndex="rowIndex">
      <tr>
        <td>{{ sponsor.name }}</td>
        <td>{{ sponsor.email }}</td>
        <td class="flex gap-2">
          <p-button icon="pi pi-trash" (onClick)="removeSponsor(rowIndex)"></p-button>
          <p-button icon="pi pi-pencil" (onClick)="editSponsor(rowIndex)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <div class="col-12">
    <button class="w-full" pButton label="Guardar" (click)="onSubmit()"></button>
  </div>
  }