<div class="card-container flex justify-content-left gap-3">
    <p-card [style]="{width: '300px'}">
        <ng-template pTemplate="header">
            <img src="ruta-imagen-congreso.jpg" 
            alt="Congreso" style="width:100%; height:auto;" />
        </ng-template>
        <div class="text-center mt-2">
            <h2 class="title">CONGRESO DE TERAPIA DE RESPUESTA ESPIRITUAL</h2>
            <p class="location">QUITO</p>
            <p class="date">20 de Septiembre 2024</p>
            <p class="date">Hasta el 22 de Septiembre 2024</p>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center gap-2 mt-2">
                <p-button label="Editar" icon="pi pi-pencil" class="p-button-rounded p-button-success" styleClass="w-full"></p-button>
                <p-button label="Eliminar" icon="pi pi-trash" class="p-button-rounded p-button-danger" styleClass="w-full"></p-button>
            </div>
        </ng-template>
    </p-card>

    <p-card [style]="{width: '300px'}">
        <ng-template pTemplate="header">
            <img src="ruta-imagen-sinfonica.jpg" 
            alt="Sinfonica" style="width:100%; height:auto;" />
        </ng-template>
        <div class="text-center mt-2">
            <h2 class="title">LATINOAMÉRICA SINFÓNICA</h2>
            <p class="location">GUAYAQUIL</p>
            <p class="date">20 de Septiembre 2024</p>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center gap-2 mt-2">
                <p-button label="Editar" icon="pi pi-pencil" class="p-button-rounded p-button-success" styleClass="w-full"></p-button>
                <p-button label="Eliminar" icon="pi pi-trash" class="p-button-rounded p-button-danger" styleClass="w-full"></p-button>
            </div>
        </ng-template>
    </p-card>

    <p-card [style]="{width: '300px'}">
        <ng-template pTemplate="header">
            <img src="ruta-imagen-cleopatra.jpg" 
            alt="Cleopatra" style="width:100%; height:auto;" />
        </ng-template>
        <div class="text-center mt-2">
            <h2 class="title">LAS CARAS DE CLEOPATRA</h2>
            <p class="location">GUAYAQUIL</p>
            <p class="date">20 de Septiembre 2024</p>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center gap-2 mt-2">
                <p-button label="Editar" icon="pi pi-pencil" class="p-button-rounded p-button-success" styleClass="w-full"></p-button>
                <p-button label="Eliminar" icon="pi pi-trash" class="p-button-rounded p-button-danger" styleClass="w-full"></p-button>
            </div>
        </ng-template>
    </p-card>

    <p-card [style]="{width: '300px'}">
        <ng-template pTemplate="header">
            <img src="ruta-imagen-cleopatra.jpg" 
            alt="Cleopatra" style="width:100%; height:auto;" />
        </ng-template>
        <div class="text-center mt-2">
            <h2 class="title">LAS CARAS DE CLEOPATRA</h2>
            <p class="location">GUAYAQUIL</p>
            <p class="date">20 de Septiembre 2024</p>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center gap-2 mt-2">
                <p-button label="Editar" icon="pi pi-pencil" class="p-button-rounded p-button-success" styleClass="w-full"></p-button>
                <p-button label="Eliminar" icon="pi pi-trash" class="p-button-rounded p-button-danger" styleClass="w-full"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
