<div class="flex flex-column align-items-center m-5 min-h-full">
    <!-- filter -->
    <div class="col-11 flex ">
        <p-button (onClick)="sidebarVisible = true" severity="secondary"  label="Añadir filtros" />
    </div>
    <!-- content -->
    <div class="col-11 grid min-h-full p-fluid">
        <!-- card -->
        <div class="col-12 md:col-6 lg:col-4 p-2">
            <div class="col-12 text-center flex flex-column surface-50  border-1 border-200 border-round-3xl shadow-5">
                <div class="col-12">
                    <img src="https://www.adobe.com/content/dam/www/us/en/events/overview-page/eventshub_evergreen_opengraph_1200x630_2x.jpg" alt="img" class="col-12">
                </div>
                <div class="text-2xl font-bold">Título del evento</div>
                <p class="text-lg text-primary text-600">Fecha del evento: 2024/06/03</p>
                <p class="max-h-5rem overflow-hidden">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quia ipsa soluta alias, eius eligendi voluptatibus quos expedita veniam animi aliquam incidunt minus magni distinctio pariatur modi atque praesentium aut.</p>
                <p-button label="Primary" label="Ver a detalle" />


            </div>
        </div>
        
    </div>
</div>
