:host ::ng-deep {
  .p-dataview {
      .p-dataview-header {
          background: var(--surface-card);
          border-radius: 6px 6px 0 0;
      }

      .p-dataview-content {
          background: var(--surface-card);
          padding: 0;
          border-radius: 0 0 6px 6px;
      }
  }

  .p-button {
      &.p-button-outlined:not(.p-button-plain) {
          background-color: var(--surface-ground);

          &:hover {
              background-color: var(--surface-ground);
          }
      }
  }
}
