@if (event) {
<div class="pt-3">
  <div class="grid p-fluid md:col-offset-1 gap-3 mt-3">

    <div class="col-12 md:col-8 p-3 surface-50 border-round-lg">
      <div class="grid p-fluid">
        <div class="col-12 lg:col-6 field">
          <label appCustomLabel label="Nombre" for="venue"></label>
          <input id="venue" readonly [value]="event.name" type="text" pInputText />
        </div>

        <div class="col-12 lg:col-6 field">
          <label appCustomLabel label="Categoría" for="venue"></label>
          <input id="venue" readonly [value]="event.category.name" type="text" pInputText />
        </div>

        <div class="w-full">
          <p-carousel [value]="event.images" [numVisible]="1" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" class="w-full">
            <ng-template let-item pTemplate="item">
              <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                  <div class="relative col-8 col-offset-2">
                    <img [src]="item.url" [alt]="event.name" class="w-full border-round max-h-18rem" />
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-3 p-3 surface-50 border-round-lg">
      <div class="grid p-fluid">

        <div class="col-12 m-0">
          <p class="text-xl"><b>Organizador:</b></p>
          <p class="text-xl">{{event.organizer.informationUser.name}}</p>
        </div>

        @if (event.hasSponsors) {
        <div class="col-12">
          <p class="text-xl text-center"><b>Sponsors</b></p>
          <p-carousel [value]="event.sponsors!" [numVisible]="1" [numScroll]="1" [circular]="true"
            orientation="horizontal" [showNavigators]="false" [showIndicators]="false" autoplayInterval="3000"
            [responsiveOptions]="responsiveOptions" class="w-full">
            <ng-template let-item pTemplate="item">
              <div
                class="border-1 surface-border border-round m-1 p-3 flex flex-column justify-content-center align-items-center">
                <p class=" text-primary font-bold text-center">{{item.name}}</p>
                <p class=" font-bold text-center max-w-full overflow-hidden">Correo de contacto:</p>
                <p class=" text-primary text-center max-w-full overflow-hidden">{{item.email}}</p>

              </div>
            </ng-template>
          </p-carousel>
        </div>
        }

        <p>Tickets disponibles:</p>
        <form [formGroup]="form" (submit)="onSubmit()" class="col-12 flex flex-column gap-2">
          <p-dropdown class="w-full"  [options]="event.ticketTypes" formControlName="ticketType" optionLabel="name"
            placeholder="Seleccione" />
          <span appErrorMessage [errors]="ticketTypeField.errors" [touched]="ticketTypeField.touched"
            [dirty]="ticketTypeField.dirty"></span>
          <p-inputNumber formControlName="quantity" placeholder="Cantidad" useGrouping="false" max="5" />
          <span appErrorMessage [errors]="quantityField.errors" [touched]="quantityField.touched"
            [dirty]="quantityField.dirty"></span>

          <div class="col-12 p-fluid">
            <p-messages />
          </div>
          
          <p-button label="Continuar con el pago" type="submit" severity="success"></p-button>

        </form>


      </div>
    </div>

    <div class="col-12 md:col-11 p-3 surface-50 border-round-lg">
      <div class="grid p-fluid">
        <div class="col-12 field">
          <label appCustomLabel label="Descripción" for="venue"></label>
          <textarea rows="5" readonly cols="30" pInputTextarea [value]="event.description"></textarea>
        </div>

        <div class="col-12 lg:col-6 field">
          <label appCustomLabel label="Lugar del evento:" for="venue"></label>
          <input id="venue" readonly [value]="event.address.address" type="text" pInputText />
        </div>

        <div class="col-12 lg:col-6 field">
          <label appCustomLabel label="Referencia" for="venue"></label>
          <input id="venue" readonly [value]="event.address.reference" type="text" pInputText />
        </div>

        <div class="col-12 h-30rem">
          <app-map [latitude]="event.address.latitude" [longitude]="event.address.longitude"></app-map>
        </div>
      </div>
    </div>
  </div>
</div>


}