<div class="grid my-3">

    <div class="col-12 md:col-10 md:col-offset-1">
        <p-panel (onBeforeToggle)="saveData($event)" [showHeader]="false">

            <p-accordion [activeIndex]="0">

                <p-accordionTab header="Información General" [selected]="true">
                    <app-general-information (formOutput)="saveData($event)"></app-general-information>

                </p-accordionTab>

                <p-accordionTab header="Lugar del evento">
                    <app-address (formOutput)="saveData($event)"></app-address>
                </p-accordionTab>

                <p-accordionTab header="Sponsors">
                    <app-sponsor></app-sponsor>
                </p-accordionTab>

            </p-accordion>

        </p-panel>
    </div>
</div>

{{form.value | json}}
