<section class="p-0 md:p-5">

    <div class="grid p-fluid p-2 md:p-0 md:col-offset-1 gap-3">

        <div class="col-10 col-offset-1 md:col-offset-0 md:col-5 text-50">
            <h2 class="text-center text-primary">Detalle de la Orden:</h2>
            <div class="surface-700 p-5 border-round-lg">
                @for (item of tickets; track $index) {
                <div class="flex flex-row justify-content-between align-items-center">
                    <div>
                        <p class="font-bold">{{item.ticketType.name}}</p>
                        <p>{{item.ticketType.category}}</p>
                    </div>
                    <p class="font-bold">${{item.ticketType.price}} x {{item.quantity}}</p>
                </div>
                }
            </div>
        </div>
        <div id="paypal-button-container" class="col-10 col-offset-1 md:col-offset-0 md:col-5 mt-0 md:mt-4"></div>  
    </div>
</section>