<h2 class="text-center">Registro de Eventos</h2>

<form [formGroup]="form" (submit)="onSubmit()" class="grid p-fluid">
  <!-- Name -->

  <div class="field col-12 md:col-8">
    <label appCustomLabel [label]="GeneralInformationEnum.name" for="name"></label>
    <input id="name" formControlName="name" type="text" pInputText />
    <span 
    appErrorMessage 
    [errors]="nameField.errors" 
    [touched]="nameField.touched" 
    [dirty]="nameField.dirty">
    </span>
  </div>

  <!-- Category -->
  <div class="field col-12 md:col-4">
    <label appCustomLabel [label]="GeneralInformationEnum.category" for="category"></label>
    <p-dropdown 
    id="category"
    formControlName="category"
    optionValue="id"
    [options]="categories"
    optionLabel="name" 
    placeholder="Seleccionar Categoria" />
  
    <ng-template pTemplate="selectedItem" let-categories>
      <div class="flex align-items-center gap-2">
        <div>{{ categories.name }}</div>
      </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div>{{ item.name }}</div>
      </div>
    </ng-template>
    <span 
    appErrorMessage 
    [errors]="categoryField.errors" 
    [touched]="categoryField.touched"
    [dirty]="categoryField.dirty">
    </span>
  </div>

  <!-- Description -->

  <div class="field col-12">
    <label appCustomLabel [label]="GeneralInformationEnum.description" for="description"></label>
    <textarea pInputTextarea autoResize="true" rows="5" class="col-12" formControlName="description"></textarea>
    <span 
    appErrorMessage 
    [errors]="descriptionField.errors" 
    [touched]="descriptionField.touched"
    [dirty]="descriptionField.dirty">
    </span>
  </div>

  <!-- StartDate -->

  <div class="field col-12 md:col-6">
    <label appCustomLabel [label]="GeneralInformationEnum.startDate" for="startDate"></label>
    <p-calendar formControlName="startDate" [showIcon]="true" [showTime]="true" />
    <span 
    appErrorMessage 
    [errors]="startDateField.errors" 
    [touched]="startDateField.touched"
    [dirty]="startDateField.dirty">
    </span>
  </div>

  <!-- EndDate -->

  <div class="field col-12 md:col-6">
    <label appCustomLabel [label]="GeneralInformationEnum.endDate" for="endDate"></label>
    <p-calendar formControlName="endDate" [showIcon]="true" [showTime]="true" [minDate]="startDateField.value" />
    <span 
    appErrorMessage 
    [errors]="endDateField.errors" 
    [touched]="endDateField.touched"
      [dirty]="endDateField.dirty">
    </span>
  </div>

  <!-- Image -->
  <div class="field col-6">
    <label for="image" appCustomLabel [label]="GeneralInformationEnum.images" for="image"></label>
    <p-fileUpload #fileUpload (change)="onChange(fileUpload.files)" showCancelButton="false" showUploadButton="false" [multiple]="true" accept="image/*"
      maxFileSize="2000000">
    </p-fileUpload>
  </div>

  <!-- IsPublic-->
  <div class="col-6">
    <label appCustomLabel [label]="GeneralInformationEnum.isPublic" for="isPublic"></label>    
    <div class="flex gap-3 mt-2 ">
      <div class="flex align-items-center">
        <p-radioButton
          id="isPublic"
          formControlName="isPublic"
          name="isPublic"
          [value]="true"/>

        <label for="isPublic" class="ml-2">Si</label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          id="isPublic"
          formControlName="isPublic"
          name="isPublic"
          [value]="false"/>

        <label for="isPublic" class="ml-2">
          No
        </label>
      </div>
    </div>
  </div>

  <!-- validation message -->
  <div class="col-6 p-fluid">
    <p-messages />
  </div>


  <div class="col-12">
    <button pButton type="submit" label="Guardar"></button>
  </div>
</form>

<!-- {{form.errors|json}} -->
 <!-- {{organizerField.value|json}} -->