@if (event) {
<event-detail [event]="event"></event-detail>

@for(item of event.ticketTypes; track item.id) {
{{item.name}}
}
}

<div class="card flex justify-content-between gap-8 mt-4">
    <p-button (click)="showDialog()" label="ticketTypes" />
    <p-button (click)="showDialog()" label="ticketTypes" />
    <p-button (click)="showDialog()" label="ticketTypes" />
    <p-button (click)="showDialog()" label="ticketTypes" />
</div>

<p-dialog header="Cantidad del Ticket" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex justify-content-between items-center gap-4 mb-4">
        <label for="amount" class="font-semibold w-24">Cantidad</label>
        <input pInputText id="amount" class="flex-auto" type="number" autocomplete="off" />
    </div>
    <div class="flex justify-content-between gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>




  
  