<div>
<div class="card flex justify-content-start  mt-8">
    <p-card header="Titulo del Evento" styleClass="w-6 ml-auto">
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
</div>
