<div class="field col-12 fadeinleft animation-duration-1000">
  
  <div class="field col-12 flex justify-content-center"> 
    <h1>Agregar Sponsors</h1>
  </div>

  <div class="field col-12">
    <!-- FormGroup -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
      <div [formGroup]="sponsorForm" class="grid p-fluid">
        <!-- name -->
        <div class="field col-6">
          <label appCustomLabel [label]="SponsorEnum.name" for="name"></label>
          <input pInputText id="name" formControlName="name">
        </div>

        <!-- file -->
        <div class="field col-6">
          <label appCustomLabel [label]="SponsorEnum.photo" for="name"></label>
          <input pInputText id="name" formControlName="name">
        </div>
      </div>

      <div formArrayName="sponsors">
        @for (item of sponsors.controls; track $index; let i = $index) {
          <div [formGroupName]="i" class="grid p-fluid">
            <!-- {{item}} -->
            {{item.value | json}}
            {{item.get('name')?.value | json}}
            <!-- name -->
            <div class="field col-6">
              <label appCustomLabel [label]="SponsorEnum.name" for="name"></label>
              <input pInputText id="name" formControlName="name">
              <span appErrorMessage
                [touched]="item.get('name')!.touched"
                [dirty]="item.get('name')!.dirty"
                [errors]="item.get('name')!.errors"
              >
              </span>
            </div>
            <!-- file -->
            <div class="field col-6">
              <label appCustomLabel [label]="SponsorEnum.photo" for="name"></label>
              <input pInputText id="name" formControlName="name">
              <span appErrorMessage
              ></span>
            </div>
          </div>
        }
      </div>

      <div class="field col-12 justify-content-center">
        <p-button pButton label="Agregar" icon="pi pi-plus" (onClick)="addSponsor()"/>
      </div>      

    </form>
  </div>

</div>